*{
    border: border-box;
    margin: none;
    padding: none;
}

.header-bg {
    background-color: black;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}

.header-content a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 2em 1em;
    align-self: center;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
}

.header-content a:hover {
    text-decoration: none;
    background-color: #ebebeb;
    font-weight: bolder;
    color: #202020;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.div1 {
    background-color: black;
}

.div2 {
    background-color: black;
}

.div3 {
    background-color:black;
}

.logo-size {
    max-height: 5em;
    padding: 1.2em 3em;
}

.search-icon-size {
    max-height: 4.5em;
    padding: 1.2em 1em;
}

.login-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
    padding: 0.6em 1em;
    margin-right: 3em;
    border-radius: 0.4em;
    align-self: center;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
}

.login-btn:hover {
    text-decoration: none;
    background-color: white;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.article-row-header {
    background-color: whitesmoke;
    margin-top: 4em;
    padding: 2em 3em;
    border-radius: 0.4em;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

.article-header {
    font-family: Arial, Helvetica, sans-serif;
}

.article-header h1 {
    font-size: 2.8em;
    line-height: 0.9em;
    font-weight: bold;
}

.article-header h2 {
    margin-top: -0.5em;
    color: rgb(255, 95, 88);
}

.article-header h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: -0.2em;
}

.article-header h4 {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.3em;
}

.article-header h5 {
    font-weight: bolder;
    font-size: 0.8em;
    margin-top: -0.3em;
    color: black;
}

.article-img {
    margin-top: 1em;
}

.article-text h4 {
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.9em;
}

.comments-row-header {
    background-color: white;
    margin-top: 1em;
    padding: 2em 3em;
    border-radius: 0.4em;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}

.comments-header h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}


textarea
{
    height: 2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s;
}

input[type="submit"], button{
    border: none;
    outline: none;
    border-radius: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;

}

.comment{
    padding: 0.8em 1em;
}

input[type="submit"]
{
    color: #fff;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
}

button
{
    color: #333;
    background-color: transparent
}

.btn
{
    display: none
}

.newsletter-row {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6em 0;
}

.newsletter-row-header h3 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.03em;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.newsletter-row-header-line h6 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 1em;
}

.join-box {
    background-color: white;
    font-size: 1.2em;
    border-color: black;
    border-radius: 0.2em;
    padding-left: 0.5em;
    width: 16em;
    height: 2em;
    margin-top: 0.3em;
}

.join-btn {
    font-size: 1.2em;
    width: 5em;
    height: 2em;
    position: relative;
    background-color: #1b1b1b;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
    border-style: none;
    color: white;
    border-radius: 0.2em;
    align-items: center!important
}

.join-btn:hover {
    background-color: black;
    background-image: linear-gradient(90deg, rgb(255, 95, 88) 0%, rgb(255, 124, 141) 150%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.form-elements {
    margin-bottom: 1.5em;
}

.newsletter-border {
    background-color: black;
    padding-top: 1em;
    padding-bottom: 0.8em;
    border-radius: 0.4em;
    box-shadow: rgba(50, 50, 93, 0.8) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
}


























footer {
    height: 45vh;
}

.foote {
    height: 50vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.foote ul {
    list-style: none;
    text-align: left;
}

.foote ul li {
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1px;
}

.foote ul h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15vh;
    padding-right: 8vh;
    padding-right: 8vh;
    padding-bottom: 2vh;
}

.foote ul li a {
    color: white;
    text-decoration: none;
}

.foote ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 95, 88) ;
}


.icons-link {
    text-decoration: none;
    color: cornsilk;
    padding-left: 0em;
    padding-right: 1em;
}

.icons-link:hover {
    color: rgb(255, 95, 88);
}
